@import url('https://fonts.cdnfonts.com/css/salsa');

.loading, .not-found {
    font-size: 40px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-family: 'Salsa', sans-serif;
    font-size: 34px;
}

.items {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.favourites-wrapper {
    display: flex;
    flex-direction: column;
}

.favourites {
    display: flex;
    gap: 25px;
    overflow: auto;
    margin-bottom: 30px;
}

.favourites-title {
    color: rgb(213, 202, 213);
    font-size: 44px;
    margin: 40px 0px;
    font-family: 'Salsa', sans-serif;                                        
}
.favourites-search input {
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    margin-bottom: 40px;
}

.favourites {

}
