.main-btn {
    padding: 5px 10px;
    background-color: #1fba8e;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
    border: none;
    width: fit-content;

}



.main-btn:hover {
    background-color: #189270;
    transition: 0.3s;
}