h1 {
    background-color: rgb(197, 236, 226);
    background-color: #a5efcd;
    background-color: #3fbe83;
    background-image: radial-gradient(circle, #3fbe83, #38c280, #32c67d, #2bca79, #24ce75);
    padding: 16px 0;
    font-family: 'Poetsen One', sans-serif;
    color: #24ce75;
    color: #ddce48;
    color: #fff8b7;    
}